html,
body {
  margin: 0;
  padding: 0;
}

.page_GTP {
  font-family: var(--font-roboto);
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}

.side-navigation_GTP {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 5%;
}

.right-container_GTP {
  display: flex;
  flex-direction: column;
  width: 95vw;
}

.top-container_GTP {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.mid-container_GTP {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mid-container_GTP h2 {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: #f9d3b4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.hintBox_GTP {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box; /* Includes padding and border in element's total width and height */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.hintBoxIcons_GTP {
  display: flex;
  flex-direction: row;
}

.hintBoxIcon_GTP {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hintBoxIcon_GTP img {
  width: 20%; /* Sie können den Prozentsatz ändern, um die gewünschte Größe zu erreichen */
  height: auto;
}

.answerContainer_GTP {
  position: relative;
  width: 400px;
  display: flex;
}

.answerContainer_GTP input {
  width: 85%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #000000;
  border-radius: 4px 0 0 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.answerContainer_GTP button {
  width: 15%;
  border: 1px solid #000000;
  border-radius: 0 4px 4px 0;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.answerContainer_GTP input::placeholder {
  color: #888;
  font-size: 1.3em;
  font-style: italic;
}

.bottom-Container_GTP {
  width: 100%;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  margin-top: 2%;
}

.boxes_GTP {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

.box_GTP {
  width: 8vw;
  height: 12vh;
  position: relative;
  padding: 0 10px 0px 10px;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  word-wrap: break-word;
  margin: 3px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.box_GTP .topText {
  position: absolute;
  top: -60px;
  font-size: large;
}

.box_GTP .bottomText {
}

.pokemon-container_GTP {
  height: 700px;
  width: 70%;
  display: flex;
  justify-content: flex-start; /* Align content to the top */
  box-sizing: border-box;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  overflow-y: auto;
  flex-direction: column;
}
