@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-roboto);
  background-color: #212426;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Distributes space between items */
  align-items: center; /* Centers items horizontally */
  width: 25vw;
  height: 80vh;
  padding: 1rem; /* Adds some space around the items */
  box-sizing: border-box; /* Includes padding and border in element's total width and height */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  user-select: none;
}

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
}

.mid-container {
  padding: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  height: 80vh;
  width: 100vw;
}

.mid-container h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 10vh;
}
.container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Schattenänderung bei Hover */
}

.container:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Schattenänderung bei Klick */
}

.container h2,
.container img {
  width: 100%;
}

h4 {
  width: fit-content;
  display: flex;
  justify-content: center;
  margin-top: 0vh;
  font-size: 2rem;
  color: #9e5959; /* Helle Hautfarbe */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: inline-block; /* Textschatten für zusätzliche Tiefe */
}

.sprite img {
  height: fit-content;
  width: fit-content;
  transform: scale(0.4);
  margin-top: 0%;
}

.sprite {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.score h4 {
  color: white;
}
