@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700");
@import url("https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Honk&family=Jacquarda+Bastarda+9&display=swap");

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
  --font-honk: "Honk", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.page_MSG {
  font-family: var(--font-roboto);
  display: flex;
  height: 100vh;
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
}

.side-navigation_MSG {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 10%;
}

.right-container_HL {
  display: flex;
  flex-direction: column;
  width: 95vw;
}

.top-container_MSG {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: center;
}

.top-container_MSG h2 {
  padding-top: 2rem;
}

.mid-container_MSG {
  height: 60%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

.mid-container_MSG h2 {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  color: #f9d3b4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

h1 {
  font-size: 3rem;
  letter-spacing: 0.9px;
  background: linear-gradient(
    90deg,
    rgba(249, 211, 180, 1) 0%,
    rgba(249, 211, 180, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: fit-content;
}

.container_MSG {
  display: flex;
  flex-direction: column;
  justify-content: space-around; /* Distributes space between items */
  align-items: center; /* Centers items horizontally */
  width: 25vw;
  height: 60vh;
  box-sizing: border-box; /* Includes padding and border in element's total width and height */
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  user-select: none;
}

.container_MSG:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.6); /* Schattenänderung bei Hover */
}

.container_MSG.marked {
  box-shadow: 0 4px 32px #f9d3b4; /* Schattenänderung im markierten Zustand */
  /* Du kannst auch andere Stiländerungen hier hinzufügen */
}

.container_MSG h2,
.container_MSG img {
  width: 100%;
}

.green-mark {
  background-color: green; /* Or any other styling for green */
}

.red-mark {
  background-color: red; /* Or any other styling for red */
}

h4 {
  width: fit-content;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  color: #9e5959;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: inline-block;
}

.sprite img {
  height: fit-content;
  width: fit-content;
  transform: scale(0.6);
}

.score h4 {
  color: white;
}

.sprite {
  width: fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
}

.bottom-Container_MSG {
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
