.answerContainer_MSG {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  border: wheat solid 2px;
  backdrop-filter: blur(5px);
  display: flex;
  height: 70%;
  width: 45%;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  user-select: none;
  color: #f9d3b4;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin-top: 2rem;
}

.answerContainer_MSG:hover {
  box-shadow: 0 8px 16px #9e5959;
}

.answerContainer_MSG:active {
  box-shadow: 0 2px 4px #9e5959;
}

.moveCard {
  height: 15vh;
}

.typeComponent {
  right: 200px;
  bottom: 80px;
  position: relative;
}

.moveName {
  font-size: 2rem;
  position: relative;
  bottom: 2.5rem;
}

.moveType {
  position: relative;
  right: 18rem;
  bottom: 5.5rem;
  scale: 100%;
}

.movePP {
  position: relative;
  bottom: 7.4rem;
  right: 2rem;
  font-size: 1.2rem;
}

.movePriority {
  position: relative;
  bottom: 11rem;
  left: 9rem;
  font-size: 1.2rem;
}

.moveAccuracy {
  position: relative;
  bottom: 27.5rem;
  right: 14rem;
  font-size: 1.4rem;
}

.movePower {
  position: relative;
  bottom: 6.5rem;
  right: 13rem;
  font-size: 1.4rem;
}

.moveDamageClass {
  position: relative;
  bottom: 22.5rem;
  left: 16rem;
  font-size: 1rem;
  width: 150px; /* Or any other size */
  height: auto;
}
