@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Honk&family=Jacquarda+Bastarda+9&display=swap");

:root {
  --font-honk: "Honk", sans-serif;
}

.score_MSG h2 {
  font-family: var(--font-honk);
}

.score_HL h2 {
  font-family: var(--font-honk);
}

.score_GTP h2 {
  font-family: var(--font-honk);
}
