/* SideMenu.css */

#fade-button {
  background-color: #212426;
  border: 2px solid #767777; /* Change to your preferred color */
  color: white; /* Change to your preferred color */
  padding: 10px 20px; /* Adjust as needed */
  border-radius: 2px; /* Adjust as needed */
  margin-top: 1vh;
  display: inline-block;
}
